.media-body .author {
    display: inline-block;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}

.media-body .metadata {
    display: inline-block;
    margin-left: 0.5rem;
    color: #777;
    font-size: 0.8125rem;
}

.media-left {
    width: 600px;
    word-wrap: break-word;
}

.devide {
    padding: 0 4px;
    font-size: 0.9em;
}

.media-text {
    margin-bottom: 0.25rem;
}

.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

.delete:hover {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}


